{{#each blogs as |blog| }}
<div class="blog">
    <div class="blog-header">
        <h2>{{blog.blog_name}}</h2>
        <p>posted by {{blog.user.name}} on {{format_date blog.date_created}}</p>
    </div>
    <div class="blog-content">
        <p>{{blog.blog_text}}</p>
    </div>
</div>
{{/each}}